@font-face {
    font-family: 'MinhaFonte';
    src: url('caminho/para/sua/fonte.ttf') format('truetype');
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #060304;
    color: white;
    text-align: center;
}

/* Cabeçalho */
header {
    padding: 50px 20px;
    background-image: 
        url('../img/img-fundo-header.png'),  
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%); 
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay; 
    color: #ffffff;
    font-family: 'MinhaFonte', sans-serif; 
    position: relative;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

.portfolio {
    padding: 50px 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 250px); 
    gap: 20px;
    justify-items: center;
    max-width: 800px; 
    margin: 0 auto; 
}

.card {
    background: #363333;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    width: 100%; 
    max-width: 250px; 
    height: 250px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.1);
    background: #060304;
}

.card img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

/* Seção Sobre Mim */
.about {
    background-color: #1c1c1c;
    padding: 50px 20px;
    border-radius: 15px;
    margin: 30px auto;
    max-width: 1200px; 
    color: white;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    color: #a83805; 
}

.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.info-item {
    background: #363636;
    padding: 30px;
    border-radius: 10px;
    width: 30%;
    min-width: 250px; 
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.info-item h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #a83805;
}

.info-item p {
    font-size: 1.2em;
    line-height: 1.6;
}

.info-item ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.2em;
    line-height: 1.6;
}

.info-item ul li {
    margin: 5px 0;
}

.info-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 250px); 
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(6, 250px); 
    }

    .info-item {
        width: 100%; 
        padding: 15px;
    }

    header h1 {
        font-size: 2em; 
    }

    header p {
        font-size: 1em;
    }

    .portfolio h2 {
        font-size: 1.8em;
    }
}

@media (max-width: 480px) {
    .about {
        padding: 30px 15px;
    }

    .info-item {
        padding: 15px;
    }

    .info-item h3 {
        font-size: 1.5em;
    }

    .card {
        height: 200px; 
    }

    footer p {
        font-size: 1em;
    }
}

footer {
    padding: 20px;
    background: #060304;
}

footer a {
    color: #a83805; 
    text-decoration: none; 
}

footer a:hover {
    color: #ff6347; 
    text-decoration: underline; 
}
